#
# PUPE-PAT Solver Configuration - example yaml file
#
# (If no configuration file is given, default values are supplied for all parameters,
# and these are written to <output-dir>pupe-pat-config.yaml.out).
#

SEP:
  mask_threshold: 20

cutout:
  inner_guess_scaling_factor: 4

fitting:
  inner_brightness: 5 # percent
  inside_donut_scale_factor: 20
  radius: 5

image_filters:
  bad_column_min: 200
  bad_column_max: 400  
  edge_dist_px: 150
  in_focus_scale_factor: 200
